<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Memory</title>

    <link rel="stylesheet" href="/styles/AddPlace.css">
</head>
<body>

    <div class="box">
        <h2 style="color:#000">New Post</h2>
        <input type="text" id="pName" placeholder="Place Name">
        <input type="text" id="pLoc" placeholder="Location">
        <input type="text" id="pImg" placeholder="Image Name ">
        
        <button onclick="save()">Save & Post</button>
        <a href="/Template/Explore.html">Cancel</a>
    </div>
    <script src="/script/AddNEw.js">
        
    </script>
</body>
</html>