body {
  background-color: lightcoral;
  text-align: center;
  font-family: Arial;
}
/* Mobile */
@media (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

/* Tablet */
@media (min-width: 601px) and (max-width: 1024px) {
  body {
    background-color: lightgreen;
  }
}

/* Desktop */
@media (min-width: 1025px) {
  body {
    background-color: lightyellow;
  }
}