#name{
    width:50%;
    height:50px;
    background-color: hsl(242, 26%, 48%);
    text-align: center;
    color: white;
    font-size: medium;

}
#email{
    width:50%;
    height:50px;
    background-color: hsl(242, 26%, 48%);
    font-size:large;
    text-align: center;
    color: white;
    font-size: medium;
}
#password{
    width:50%;
    height:50px;
    background-color: hsl(242, 26%, 48%);;
    font-size:large;
    text-align: center;
    color:white;
    font-size: medium;

}
button{
    border-radius: 50px;
    width:50%;
    height:50px;
    background-color: black;
    color:white;

}
h1{
    text-align:center;
    color:black;
}
form :hover{
    background-color: purple;
    color: white;
}
form label{
    text-align:end;
    color:black;
    font-weight: bold;
}
form{
    text-align: center;
}